
/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border: none;                /* отключаем обводку */
    background: #444444;         /* задаем серый цвет кнопки */
    color: white;                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* сменим шрифт */
    font-weight: 600;
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: rgb(190, 190, 190); /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  .my-btn.primary:hover{
    background: #ff4d4d;
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #e20000; 
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #c7c7c7; /* цвет кнопки сервый */
    font-weight: 600;
  }
  .my-btn.secondary:hover { 
    background: #e9e7e7; /* цвет кнопки сервый */
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 109px;          /* сделаем кнопку шире других */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 218px;
    height: 75px;
    border-radius: 10px;
    margin-bottom: 10px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    text-align: right;           /* примагнитим текст к правой стороне */
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: rgb(15, 15, 15) 1px 0 5px;
    background: rgb(53, 53, 53);
    color: #ffffff; 
  }
  .result_switch{
    cursor:pointer;
    background-image: url("Group_3_pmgjbc.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: transparent;
    outline-color:transparent;
    outline-width: 0;
    outline: none;
    width: 45px;
    height: 45px;
    position: absolute;
    top:34.5%;
    left:41%;
  }
  .result.night{
    outline:none;
    outline-width: 0px;
    background: rgb(53, 53, 53);
    color: #ffffff;
    text-shadow: rgb(15, 15, 15) 1px 0 5px; 
  }
  .result.day{
    outline:auto;
    outline-color:#1f1f1f;
    outline-width: 2px;
    background: rgb(235, 235, 235);
    color: black;
    text-shadow: none;
  }
  .body {
    background: rgb(22, 22, 22);
  }
  .body.night{
    background: rgb(22, 22, 22);
  }
  .body.day{
    background: rgb(236, 223, 255);
  }

  .shadow {
    text-shadow: rgb(15, 15, 15) 1px 0 10px;
  }
  .arial{
    font-family: Arial, Helvetica, sans-serif;
  }
.calc_body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infolayer{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height:40px;
  color: #ffffff;
  width:95%;
  height: 40px;  
}
.bottom{
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top{
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left{
  float:left;
  width:auto;
}
.right{
  float:right;
  width:auto;
}
.nightdayswitch{
  cursor:pointer;
  background-image: url("../Project/night_switch.png");
  background-repeat:no-repeat;
  background-position: center center;
  background-color: rgb(22,22,22);
  background-size: 100% auto;
  width: "140";
  height: "70";
}
.nightdayswitch.day{
  background-image: url("../Project/day_switch.png");
  background-color: rgb(219, 196, 255);
}
.nightdayswitch.night{
  background-image: url("../Project/night_switch.png");
  background-color: rgb(22,22,22);
}